
$dark-sienna: #230903ff;
$dartmouth-green: #07742dff;
$pewter-blue: #82a6b1ff;

$primary : $pewter-blue;
$secondary : $dartmouth-green;

$theme-colors: (
  "primary": $pewter-blue,
  "danger": #ff4136
);

@import "bootstrap/scss/bootstrap";

.header-logo {
    width : 100px;
    height: 100px;
    padding : 0;
  }
